body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:aquamarine;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav a {
  float: left;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  
  transition:all 500ms ease-in-out ;
  
}
nav a:hover{
  background-color:rgb(120, 86, 163);
border-right: 1px solid red;
text-transform:capitalize;
font-weight: bolder;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 10px;
}

.button {
  background-color: rgba(0, 0, 255, 0.582);
  transition: all 600ms ease-in-out;
  border: 2px solid rgb(77, 50, 14);
  padding: 10px 20px;
 }
 
.button:hover{

  background-color: hsl(249, 72%, 79%);
  padding: 20px 30px;
  transform: scaleX(1);
  /* transform: scaleX() skewY(0.45) skewX(0.45) scaleY() translateX() translateY() rotate; */
}
